{% extends 'base.html' %}

{% block title %} {{ post.title_tag }}{% endblock %}

{% block content %}

<section class="details-card col-md-12" >
    
    <div class="card-content">
        <div class="card-img" style=" display:flex; justify-content: center;" >
            <img style="width: 50%; border-radius: 20%; " src=" {{ post.image.url }} " alt="{{ post.image }}">                         
        </div>
        <div class="card-desc">
            <h3>{{ post.title }}</h3>
            <h5>{{ post.author }}</h5>
            <h5>{{ post.publish_date }}</h5>
            <p>{{ post.body }}</p>
           
            <a href="{% url 'home' %}" class="btn btn-secondary">BACK</a>
        </div>
    </div>


</section>

{% endblock %}
