
{% extends 'base.html' %}
{% block content %}
     

<h1>Posts</h1>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;  width: 70%; padding: 5 px; border: 2px solid black; justify-content: space-evenly; align-items: center;">
{% for post in object_list %}
    <div style="width: 300px; height: 300px; margin: 10px; border: 2px solid black; overflow: scroll; text-align: center;">
        <a class="btn btn-primary" href="{% url 'article_detail' post.pk %}">
            {{post.title}}
        </a> 
        
         <br> {{post.author.first_name}} {{post.author.last_name}} &emsp;
         <br> {{ post.publish_date }} &emsp;
         <br/>
         {{ post.body }}
         <br/>
        <a href="{% url 'category' post.category%}">{{ post.category }}</a>
         <hr/>
    </div>
    
{% endfor %}
</div>


{% endblock %}